.search_form_wrap {
    margin-bottom: 15px;
}

.search_form_input {
    margin-right: 15px;
    min-width: 200px;
}

.button_search {
    display: inline-block;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #a8f3ef;
    color: inherit;
    font-size: inherit;
}